{% extends 'base.html.twig' %}

{% block title %}
	{{ websitename }}
{% endblock %}

{% block body %}

	<main>

		<section class="py-2 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">{{ teaser1 }}</h1>
				</div>
				<div class="col-md-9 mx-auto">
					<br>
					<p class="lead text-body-secondary">{{ teaser2 }}</p>
					<p class="lead text-body-secondary">{{ teaser3 }}</p>

					<p>
						<a href="{{ path('app_vehicle') }}" class="btn btn-primary my-2">Découvrir nos offres</a>
						<a href="#" class="btn btn-secondary my-2">Demander un conseil</a>
					</p>
				</div>
			</div>
		</section>

		<div class="album py-5 bg-body-tertiary">
			<div class="container">

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

					{% for vehicle in vehicles %}
						<div class="col">
							<div class="card shadow-sm">
								<img src="{{ vich_uploader_asset(vehicle, 'imageFile')}}" alt="vehicle" class="img-fluid">
								<div class="card-body">
									<h5>{{ vehicle.brand }}
										{{ vehicle.model }}
									</h5>
									<p class="card-text">{{ vehicle.description|raw }}</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<a href="{{ path('app_vehicle_show', {'id': vehicle.id}) }}" class="btn btn-sm btn-secondary">Voir détails</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>

			</div>
		</div>

	</main>


{% endblock %}
