{% extends 'base.html.twig' %}

{% block title %}Vehicle description
{% endblock %}

{% block body %}

	<div class="row justify-content-center" style="margin-top: 60px">

		<div class="col-md-4 my-2 d-flex">
			<div class="card w-100">
				<img src="{{ vich_uploader_asset(vehicle, 'imageFile')}}" class="img-fluid" alt="vehicle">
				<div class="card-body">
					<h4>{{ vehicle.brand }}
						{{ vehicle.model }}
					</h4>
					<p style="font-size: 12px">
						{{ vehicle.description|raw }}
					</p>
				</div>
			</div>
		</div>

		<div class="justify-content-center d-flex" style="margin-top: 30px;">
			<h3>Calendrier</h3>
		</div>

		{% for i in 1..(loop) %}
			<div class="row justify-content-center d-flex">

				{{ arraycurrentdates[i][10]['month_fr_full'] }}
				{{ arraycurrentdates[i][10]['year'] }}

				<div class="justify-content-center" id="calendar">

					{% for item in arraycurrentdates[i] %}

						<div class="square d-flex flex-column justify-content-between">
							<p>
								{{ item.month_fr_full }}
								{{ item.year }}
								<br>
								<strong>{{ item.weekday_fr }}
									{{ item.day }}</strong>
								<p class="d-flex flex-row justify-content-between">
								{{ item.pricePerDay }}
								€
								{% if item.availability == 'Y' %}
									<img src="{{ asset('build/images/oui.png') }}" alt="check" height="20">
								{% else %}
									<img src="{{ asset('build/images/non.png') }}" alt="check" height="22">
								{% endif %}
								<p>
							</p>
						</div>
					{% endfor %}

				</div>

			</div>
		{% endfor %}

	</div>

{% endblock %}
