{% extends 'base.html.twig' %}

{% block title %}Vehicle description
{% endblock %}

{% block body %}

	<div class="row justify-content-center" style="margin-top: 60px">

		<div class="col-md-4 my-2 d-flex">
			<div class="card w-100">
				<img src="{{ vich_uploader_asset(vehicle, 'imageFile')}}" class="img-fluid" alt="vehicle">
				<div class="card-body">
					<h4>{{ vehicle.brand }}
						{{ vehicle.model }}
					</h4>
					<p style="font-size: 12px">
						{{ vehicle.description|raw }}
					</p>
				</div>
			</div>
		</div>

		<div class="justify-content-center d-flex" style="margin-top: 30px;">
			<h3>Calendrier</h3>
		</div>

		<div class="row justify-content-center d-flex">

			{% for i in 1..(loop) %}

				{% set monthyear = 8 + (i*35) - 35 %}
				{% set block_start = -35 %}
				{% set block_end = i * 35 %}
				{% set block_range = i * 35 %}

				{{ currentdates[monthyear]['month_fr_full'] }}
				{{ currentdates[monthyear]['year'] }}

				<div class="justify-content-center" id="calendar" style="margin-top: 20px; margin-bottom: 20px; height: fit-content">

					{% for date in currentdates|slice((block_start + block_range), block_end) %}

						<div class="color">
							<p>
								{{ date.month_fr }}
								{{ date.year }}
								<br>
								<strong>{{ date.weekday_fr }}
									{{ date.day }}</strong>
								<br>
								<br>
								{{ date.pricePerDay }}
								€
								{% if date.availability == 'Y' %}
									<img src="{{ asset('build/images/oui.png') }}" alt="check" height="20">
								{% else %}
									<img src="{{ asset('build/images/non.png') }}" alt="check" height="22">
								{% endif %}
							</p>
						</div>

					{% endfor %}
				</div>
			{% endfor %}
		</div>

	{% endblock %}
