{% extends 'base.html.twig' %}

{% block title %}Vehicle description
{% endblock %}

{% block body %}

	<div class="row justify-content-center" style="margin-top: 60px">

		<div class="col-md-4 my-2 d-flex">
			<div class="card w-100">
				<img src="{{ vich_uploader_asset(vehicle, 'imageFile')}}" class="img-fluid" alt="vehicle">
				<div class="card-body">
					<h4>{{ vehicle.brand }}
						{{ vehicle.model }}
					</h4>
					<p style="font-size: 12px">
						{{ vehicle.description|raw }}
					</p>
				</div>
			</div>
		</div>

		<div class="justify-content-center d-flex" style="margin-top: 30px">
				<h3>Calendrier</h3>
		</div>

		<div class="justify-content-center" id="calendar" style="margin-top: 20px; margin-bottom: 100px">
			{% for date in dates %}
				<div class="color">
					<p>
						{{ date.month }} {{ date.year }}
						<br>
						{{ date.weekday }}
						<br>
						{{ date.day }}
						<br>
						{{ date.pricePerDay }}
						€
					</p>
				</div>

			{% endfor %}
		</div>

	<div style="height: 300px">
	</div>

	{% endblock %}
